.project
Build
INSTALL.SKIP
MYMETA.yml
_build/
blib/
lib/Bio/Graphics/Browser2/CAlign.c
lib/Bio/Graphics/Browser2/CAlign.o
Makefile
.DS_Store
conf/.DS_Store
conf/#*#
conf/*~
conf/gbrowse_conf/#*#
conf/gbrowse_conf/.#*
conf/gbrowse_conf/*~
